.submit1 {
    width: 295px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-color: var(--Green-600);
    cursor: pointer;
    border: none;
    margin-top: 45px;

    @media(min-width: 850px){
        width: 655px;
    }
}

.submit1:hover {
    background-color: var(--Grey-900);
}