.main-card {
    width: 375px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--Green-200);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 850px){
        width: 100%;
    }
}